<div class="row">
    <div class="col-sm-6 col-md-3">
        <a href="#" data-toggle="modal" data-target="#book-detail" class="thumbnail">
            <img src="{{ static('/images/books/2018/2/thumbnail/1.jpg') }}">
            <div class="caption">
                <p>浮生六记</p>
                <p class="text-muted">沈复</p>
                <p><span class="price">￥35.00</span> <s>￥45.50</s></p>
            </div>
        </a>
    </div>
    <div class="col-sm-6 col-md-3">
        <a href="#" class="thumbnail">
            <img src="{{ static('/images/books/2018/2/thumbnail/2.jpg') }}">
            <div class="caption">
                <p>月亮与六便士</p>
                <p class="text-muted">（英）毛姆</p>
                <p><span class="price">￥35.00</span> <s>￥45.50</s></p>
            </div>
        </a>
    </div>
    <div class="col-sm-6 col-md-3">
        <a href="#" class="thumbnail">
            <img src="{{ static('/images/books/2018/2/thumbnail/3.jpg') }}">
            <div class="caption">
                <p>三体</p>
                <p class="text-muted">刘慈欣</p>
                <p><span class="price">￥35.00</span> <s>￥45.50</s></p>
            </div>
        </a>
    </div>
    <div class="col-sm-6 col-md-3">
        <a href="#" class="thumbnail">
            <img src="{{ static('/images/books/2018/2/thumbnail/4.jpg') }}">
            <div class="caption">
                <p>活着</p>
                <p class="text-muted">余华</p>
                <p><span class="price">￥35.00</span> <s>￥45.50</s></p>
            </div>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-md-3">
        <a href="#" class="thumbnail">
            <img src="{{ static('/images/books/2018/2/thumbnail/5.jpg') }}">
            <div class="caption">
                <p>我喜欢生命本来的样子</p>
                <p class="text-muted">周国平</p>
                <p><span class="price">￥35.00</span> <s>￥45.50</s></p>
            </div>
        </a>
    </div>
    <div class="col-sm-6 col-md-3">
        <a href="#" class="thumbnail">
            <img src="{{ static('/images/books/2018/2/thumbnail/6.jpg') }}">
            <div class="caption">
                <p>自在独行</p>
                <p class="text-muted">贾平凹</p>
                <p><span class="price">￥35.00</span> <s>￥45.50</s></p>
            </div>
        </a>
    </div>
    <div class="col-sm-6 col-md-3">
        <a href="#" class="thumbnail">
            <img src="{{ static('/images/books/2018/2/thumbnail/7.jpg') }}">
            <div class="caption">
                <p>浮生六记</p>
                <p class="text-muted">沈复</p>
                <p><span class="price">￥35.00</span> <s>￥45.50</s></p>
            </div>
        </a>
    </div>
    <div class="col-sm-6 col-md-3">
        <a href="#" class="thumbnail">
            <img src="{{ static('/images/books/2018/2/thumbnail/8.jpg') }}">
            <div class="caption">
                <p>目送</p>
                <p class="text-muted">龙应台</p>
                <p><span class="price">￥35.00</span> <s>￥45.50</s></p>
            </div>
        </a>
    </div>
</div>

<div id="book-detail" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">&times;</button>
                <p class="modal-title">文艺 > 文学 > 随笔 > 浮生六记</p>
            </div>
            <div style="height:480px;overflow-y:scroll;" class="modal-body">
                <img src="{{ static('/images/books/2018/2/detail/1.jpg') }}">
                <h5>浮生六记（作家榜经典）</h5>
                <p class="text-muted">笔墨之间，缠绵哀婉，真切感人，被誉为“晚清小红楼梦”。</p>

                <p>售 价：¥1.10</p>

                <p>纸质售价：¥33.80购买纸书</p>

                <p>10.4万人正在读 | 42人评论 8.7</p>
                <p>促 销：满额减此书参加电子书每满10减4，立即购买详情></p>

                <p>领 券：满200减100满400减200满300减150满100减50</p>

                <p>注：购物车结算才能使用礼券。铃铛结算可在当当云阅读APP使用，PC端暂不支持。</p>

                <p>作 者：沈复</p>

                <p>出 版 社：浙江文艺出版社</p>

                <p>出版时间：2017-04-01</p>

                <p>字 数：16.7万</p>

                <p>所属分类： 文艺 > 文学 > 随笔</p>
            </div>
            <div class="modal-footer">
                <button style="float:left;" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button class="btn btn-default">收藏</button>
                <button class="btn btn-primary">购买</button>
            </div>
        </div>
    </div>
</div>