<tr>
    <td style="vertical-align:middle;">
        <input style="margin-left:15px;" class="check-one" id="{{ item.id }}" type="checkbox" title="选中"
                {% if item.checked %} checked="checked"{% endif %}>
    </td>
    <td>
        <a href="">
            <img height="100px" width="100px" src="{{ book.image.url }}" class="img-thumbnail">
        </a>
    </td>
    <td>
        <div>
            <a href="{{ url('book:detail',args=(book.id,1,)) }}"><p style="float:left;">{{ book.name }}</p></a>
        </div>
        <div>
            <p style="margin:0;padding-top:60px;" class="text-muted">支持7天无理由退货</p>
            <p style="margin:0;">选包装</p>
        </div>
    </td>
    <td class="discount-price text-muted">￥{{ book.discount_price }}</td>
    <td>
        <span>
            <a style="text-align:center;border:solid 1px lightgray;border-right:0;float:left;height:28px;width:28px;background-color: #f4f4f4;"
               href="{{ url('cart:minus',args=(item.id,)) }}" type="button">-</a>
            <input style="text-align:center;width:40px;height:28px;float:left;border:solid 1px lightgray;" type="text"
                   value="{{ item.quantity }}" id="{{ item.id }}" title="quantity">
            <a style="text-align:center;border:solid 1px lightgray;border-left:0;float:left;height:28px;width:28px;background-color: #f4f4f4;"
               href="{{ url('cart:add',args=(book.id,)) }}" type="button">+</a>
        </span>
    </td>
    <td style="color:red;" class="subtotal-price">￥{{ item.get_subtotal_price() }}</td>
    <td>
        <div class="btn-group-vertical">
            <a href="{{ url('cart:remove',args=(item.id,)) }}" class="btn btn-sm btn-danger">删除</a>
            <button class="btn btn-sm btn-warning">移入收藏</button>
            <button class="btn btn-sm btn-info">加入收藏</button>
        </div>
    </td>
</tr>