#index-carousel {
    padding: 0;
}

.index-content h3 {
    margin: 15px 0 5px 5px;
}

.card {
    margin-top: 10px;
    padding: 0 10px;
}

.thumbnail {
    border-color: white;
    padding-top: 10px;
    margin-bottom: 10px;
}