#inputEmail, #inputPassword, #validate-input {
    padding: 20px;
}

#inputEmail {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#inputPassword {
    margin-bottom: -1px;
    margin-top: -1px;
    border-radius: 0;
}

#validate-input {
    margin-top: -2px; /*-1px还是会显示很重的阴影*/
    margin-bottom: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.login-form .btn {
    margin-top: 8px;
}

.login-head {
    margin-top: 20px;
}

.card {
    padding: 0 20px 20px;
    margin-top: 20px;
}