.card {
    padding: 0 20px 20px;
    margin-top: 20px;
}

#inputEmail, #inputPassword, #repeatPassword {
    padding: 20px;
}

#inputEmail {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#inputPassword {
    margin-bottom: -1px;
    margin-top: -1px;
    border-radius: 0;
}

#repeatPassword {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}