{% extends 'base.html' %}
{% import 'include/macros.html' as macros %}

{% block page_content %}
    <div class="row">
        <div style="padding:0;" class="col-md-offset-1 col-md-10">
            <div style="margin:10px 0 20px;" class="card">
                <ul style="margin-top:10px;" id="myTab" class="nav nav-tabs">
                    <li class="active">
                        <a href="#processing" data-toggle="tab">
                            进行中
                        </a>
                    </li>
                    <li><a href="#finished" data-toggle="tab">已完成</a></li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade in active" id="processing">
                        {{ macros.order_list(processing_orders) }}
                    </div>
                    <div class="tab-pane fade" id="finished">
                        {{ macros.order_list(finished_orders) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}