{% extends 'base.html' %}

{% block styles %}
    {{ super() }}
    <link href="{{ static('css/settlement.css') }}" rel="stylesheet">
{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <div class="card">
                <h4>收货人信息</h4>
            </div>
            <div class="card">
                <h4>购物清单</h4>
            </div>
            <div class="card">
                <h4>支付方式</h4>
                <form action="{{ url('user:test') }}" method="post">
                    {{ csrf_input }}
                    <label for="test">test</label>
                    <input type="text" name="test">
                    <input type="submit" value="提交">
                    <p>{{ text }}</p>
                </form>
            </div>
            <div class="commit-order card">
                <div class="pull-right">
                    <span style="margin-right:20px;font-size:1.2em;">共 <span style="color:red;">4</span> 本图书</span>
                    <span style="margin-right:20px;font-size:1.2em;">应付总额：<span
                            style="color:red;">￥123.34</span></span>
                    <a href="{{ url('user:order-create') }}" class="btn btn-primary">付款</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}