{% extends 'base.html' %}

{% block page_content %}
    <div class="row">
        <div class="col-md-12">
            <form method="post" action="">
                <table class="card table">
                    <thead>
                    <tr>
                        <th style="width: 30px;"><input type="checkbox" title="全选"></th>
                        <th style="width:120px;">图片</th>
                        <th>信息</th>
                        <th>单价（元）</th>
                        <th>数量</th>
                        <th>小计（元）</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td style="vertical-align:middle;"><input type="checkbox" title="选中"></td>
                        <td>
                            <a href="">
                                <img height="100px" width="100px"
                                     src="{{ static('images/books/2018/2/thumbnail/1.jpg') }}"
                                     class="img-thumbnail">
                            </a>
                        </td>
                        <td>
                            <div>
                                <a href=""><p style="float:left;">浮生六记</p></a>
                            </div>
                            <div>
                                <p style="margin:0;padding-top:60px;" class="text-muted">支持7天无理由退货</p>
                                <p style="margin:0;">选包装</p>
                            </div>
                        </td>
                        <td class="text-muted">￥52.41</td>
                        <td>
                            <span>
                                <a style="text-align:center;border:solid 1px lightgray;border-right:0;float:left;height:28px;width:28px;background-color: #f4f4f4;"
                                   href=""
                                   type="button">-</a>
                                <input style="text-align:center;width:40px;height:28px;float:left;border:solid 1px lightgray;"
                                       type="text"
                                       value="1">
                                <a style="text-align:center;border:solid 1px lightgray;border-left:0;float:left;height:28px;width:28px;background-color: #f4f4f4;"
                                   href=""
                                   type="button">+</a>
                            </span>
                        </td>
                        <td style="color:red;">￥43.32</td>
                        <td>
                            <div class="btn-group-vertical">
                                <button class="btn btn-sm btn-danger">删除</button>
                                <button class="btn btn-sm btn-warning">移入收藏</button>
                                <button class="btn btn-sm btn-info">加入收藏</button>
                            </div>

                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
{% endblock %}